.main-size {
    min-height: 34.3rem;
    padding: 3rem 1rem 2rem;
}

.notification-bar {
    background-color: #eee;
    height: 1.5rem;
    margin-top: 3.5rem;
}

.invitation-background {
    background: rgb(232, 240, 254);
    border: 2px dashed #eee;
    border-radius: 4px 5px;
    padding: 10px;
}

.sidebar-border {
    border: 1px dashed lightgray;
    border-radius: 4px 5px;
}

.keyword {
    font-size: 12px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 20px;
    background-color: gray;
    color: white;
    padding: 0px 7px;
    margin-right: 5px;
}

.reply {
    color: #8590a6;
    margin: 0 0.5rem 0 0.5rem;
}

.left-hr {
    border-left: 1px solid rgba(0,0,0,.1);
}

.border-right-radius {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.article-nav-position {
    position: sticky;
    top: 4.5rem;
}

.wrap-indentation {
    text-indent: -2.6rem;
    margin-left: 5.2rem
}
