.notification-bar {
    background-color: #eee;
    height: 1.5rem;
    margin-top: 3.5rem;
}

.invitation-background {
    background: rgb(232, 240, 254);
    border: 2px dashed #eee;
    border-radius: 4px 5px;
    padding: 10px;
}

.sidebar-border {
    border: 1px solid lightgray;
    border-radius: 4px 5px;
}

.keyword {
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    background-color: gray;
    padding: 0px 7px;
    display: inline-block;
    margin-right: 5px;
}

.sidebar-keyword {
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 3px 7px;
    line-height: 1;
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

a:hover.sidebar-keyword {
    color: white;
}

.reply {
    color: #8590a6;
    margin: 0 0.5rem 0 0.5rem;
}

.left-hr {
    border-left: 1px solid rgba(0,0,0,.1);
}

.border-right-radius {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.article-nav-position {
    position: sticky;
    top: 4.5rem;
}

.wrap-indentation {
    text-indent: -2.6rem;
    margin-left: 5.2rem
}
