.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-1-1r {
    font-size: 1.1rem;
}

.fs-1-2r {
    font-size: 1.2rem;
}

.clr-777 {
    color: #777;
}

.clr-2b542c {
    color: #2b542c;
}

.left-hr {
    border-left: 1px solid rgba(0,0,0,.1);
}

.mt-2r {
    margin-top: 2rem;
}

.keyword {
    font-size: 12px;
    font-weight: bold;
    border: 1px solid;
    border-radius: 20px;
    background-color: gray;
    color: white;
    padding: 0px 7px;
    margin-right: 5px;
}

.reply {
    color: #8590a6;
    margin: 0 0.5rem 0 0.5rem;
}
