@media (max-width:768px) {
    .d-md-show {
        display: none;
    }

    .ml-md-3-rev {
        margin-left: 1rem;
    }

    .text-md-center-rev {
        text-align: center !important;
    }
}
