<div id="show-keyword"></div>
<div class="input-group" id="keyword-box">
    <div class="input-group-prepend">
        <label class="input-group-text">一级</label>
    </div>
    <select class="custom-select col-2" id="level-one-keyword">
        <option style="display:none"></option>
        <option value="language">编程开发语言</option>
        <option value="tool">工具软件</option>
        <option value="system">操作系统</option>
        <option value="consult">顾问咨询</option>
    </select>

    <div class="input-group-prepend">
        <label class="input-group-text" style="border-left:none">二级</label>
    </div>
    <select class="custom-select col-2" id="level-two-keyword" disabled>
        <option style="display:none"></option>
    </select>

    <div class="input-group-prepend">
        <label class="input-group-text" style="border-left:none">自定义</label>
    </div>
    <input type="text" class="form-control" id="user-defined-keyword" placeholder="空格键生成">
</div>

<script>
    var keywordBox = document.getElementById("keyword-box");
    var levelOneKeyword = document.getElementById("level-one-keyword");
    var levelTwoKeyword = document.getElementById("level-two-keyword");
    var levelTowOption = {
        language: ["Java", "Python", "C#", "JavaScript", "PHP", "SQL", "C++", "C"],
        tool: ["CAD", "eclipse", "Excel", "PhotoShop", "PowerPoint", "VisualStudio", "Word"],
        system: ["Windows", "Android", "Unix", "Linux"],
        consult: ["职场", "亲子", "婚姻家庭", "财务", "法律", "心理"],
    };

    levelOneKeyword.addEventListener("change", selectLevelOneKeyword);
    levelTwoKeyword.addEventListener("change", selectLevelTwoKeyword);
    document.getElementById("user-defined-keyword").addEventListener("keyup", showUserDefinedKeyword);

    function selectLevelOneKeyword() {
        // 每次一级关键字选项改变，先清空二级关键字下拉选项(保留一个空白占位选项)
        levelTwoKeyword.options.length = 1;
        // 未选择一级关键字禁用二级关键字下拉框
        if (this.selectedIndex !== 0) {
            levelTwoKeyword.disabled = false;
        } else {
            levelTwoKeyword.disabled = true;
        }
        // 根据一级关键字选项给二级关键字添加选项(看起来有点蠢)
        if (this.selectedIndex === 1) {
            for (let i = 0; i < levelTowOption.language.length; i++) {
                levelTwoKeyword.add(new Option(levelTowOption.language[i]));
            }
        } else if (this.selectedIndex === 2) {
            for (let i = 0; i < levelTowOption.tool.length; i++) {
                levelTwoKeyword.add(new Option(levelTowOption.tool[i]));
            }
        } else if (this.selectedIndex === 3) {
            for (let i = 0; i < levelTowOption.system.length; i++) {
                levelTwoKeyword.add(new Option(levelTowOption.system[i]));
            }
        } else {
            for (let i = 0; i < levelTowOption.consult.length; i++) {
                levelTwoKeyword.add(new Option(levelTowOption.consult[i]));
            }
        }

        for (let i = 1; i < this.options.length; i++) {
            if (this.selectedIndex === this.options[i].index) {
                showKeyword(this.options[i].innerText);
            }
        }
    }
    function selectLevelTwoKeyword() {
        for (let i = 1; i < this.options.length; i++) {
            if (this.selectedIndex === this.options[i].index) {
                showKeyword(this.options[i].innerText);
            }
        }
    }
    function showUserDefinedKeyword() {
        if (event.keyCode === 32) {
            showKeyword(this.value.replace(' ', ''));
            this.value = '';
        }
    }
    function showKeyword(selectedKeyword) {
        var lable = document.createElement("span");
        var text = document.createTextNode(selectedKeyword + ' ');
        var remove = document.createElement("i");
        var showKeywordBox = document.getElementById("show-keyword");

        for (var i = 0; i < showKeywordBox.children.length; i++) {
            if (text.nodeValue === showKeywordBox.children[i].innerText) {
                return;
            }
        }
        remove.setAttribute("class", "fa fa-times");
        remove.setAttribute("aria-hidden", "true");
        remove.addEventListener("click", function () { lable.remove() })

        lable.appendChild(text);
        lable.appendChild(remove);
        lable.setAttribute("style", "font-size:12px; font-weight:bold; border:1px solid; border-radius:20px; background-color:gray; color:white; padding:0px 7px; margin-right:5px");
        document.getElementById("show-keyword").insertBefore(lable, showKeywordBox.firstElementChild);

        // 保存关键字返回给Action，要确保父页面保存文本的元素id是"KeywordsReceiver"
        var KeywordsReceiver = document.getElementById("KeywordsReceiver");
        if (KeywordsReceiver.value === '') {
            KeywordsReceiver.value = selectedKeyword;
        } else {
            KeywordsReceiver.value = KeywordsReceiver.value + ',' + selectedKeyword;
        }
    }
</script>
