<div id="show-keyword"></div>
<div class="input-group" id="keyword-box">
    <div class="input-group-prepend">
        <label class="input-group-text">一级</label>
    </div>
    <select class="custom-select col-2" id="level-one-keyword">
        <option class="d-none"></option>
        <option value="language">编程语言</option>
        <option value="system">操作系统</option>
        <option value="tool">软件工具</option>
        <option value="consult">类库框架</option>
    </select>

    <div class="input-group-prepend">
        <label class="input-group-text border-left-0">二级</label>
    </div>
    <select class="custom-select col-2" id="level-two-keyword" disabled>
        <option class="d-none"></option>
    </select>

    <div class="input-group-prepend">
        <label class="input-group-text border-left-0">自定义</label>
    </div>
    <input type="text" class="form-control" id="user-defined-keyword" placeholder="空格键生成">
</div>

<script src="~/Scripts/shared/keywordSelection.js" type="text/javascript"></script>
