<div class="p-3 sidebar-border">
    <span class="pl-2">
        <i class="fa fa-tags fa-2x" aria-hidden="true"></i>
        <b class="fs-2r">关键字</b>
    </span>
    <hr />
    <div id="keywords-box" class="h-10r"></div>
    <hr />
    <div class="input-group">
        <input type="text" class="form-control" placeholder="输入关键字查找">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary border-right-radius"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <button class="btn btn-outline-secondary ml-3"><i class="fa fa-random" aria-hidden="true"></i> 换一批</button>
    </div>
</div>
