<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/images/logo.ico" rel="shortcut icon" />
    <title>404 - 乐清土特产</title>
    <link href="/Content/Shared/error-page.css" rel="stylesheet" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="error-page">
        <div class="error-page-container">
            <div class="error-page-text">
                <span class="error-page-title">404</span>
                <p class="error-page-subtitle">没有找到传说中的页面</p>
                <button id="go-home" type="button" class="btn btn-primary">前往首页</button>
            </div>

            <div class="error-page-image-container">
                <img class="error-page-image" src="/images/not-found.jpg" alt="Not Found" />
            </div>
        </div>
    </div>
</body>
</html>

<script src="/Scripts/shared/errorPage.js" type="text/javascript"></script>
