@{
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9">
        @RenderBody()
    </div>

    <div class="col-3 d-md-show">
        @RenderSection("Keywords", false)
    </div>
</div>
